<table class="table">
  <thead class="">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name:</th>
      <th scope="col">Manufacturer:</th>
      <th scope="col">Quantity:</th>
      <th scope="col">Category:</th>
      <th scope="col">Change to:</th>
    </tr>
  </thead>
  <tbody>

  {{#each rows}}
    <tr >
      <th scope="row">{{this.id}}</th>
      <td>{{this.product_name}}</td>
      <td>{{this.product_manufacturer}}</td>
      <td>{{this.product_quantity}}</td>
      <td>{{this.product_category}}</td>

      <td>
        <a type="button" href="/">Active</a>
</td>
  

    </tr>
    {{/each}}
  </tbody>
</table>