<h1>Raw Materials' Section</h1>  <div class="d-flex justify-content-end">
    <a href="/rawMaterials/addRaw" type="button" class="btn btn-primary align-self-right">Add</a>
  </div>
<table class="table">
  <thead class="">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      
    </tr>
  </thead>
  <tbody>

  {{#each rows}}
    <tr >
      <th scope="row">{{this.Id}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Quantity}}</td>
      <td>{{this.Price}}</td>
      
      <!--
      <td>
        <a type="button" href="/inactive/{{this.id}}">Inactive</a>

        </select></td>

        -->
      <td class="text-end">
          <a href="rawMaterials/editRaw/{{this.Id}}" type="button" class="btn btn-light btn-small btn-edit">Edit</a>
          <a href="rawMaterials/{{this.Id}}" type="button" class="btn btn-light btn-small btn-delete">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>