<h1>Sellers' Section</h1>  <div class="d-flex justify-content-end">
   
   <a href="/seller/addSeller" type="button" class="btn-success mb-3 btn  btn-small  align-self-right">Add a new Seller</a>

  </div>
<table class="table">
  <thead class="">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Seller name</th>
      <th scope="col">Seller location</th>
      <th scope="col">Established Year</th>
      <th scope="col">Seller details:</th>
    </tr>
  </thead>
  <tbody>

  {{#each rows}}
    <tr >
      <th scope="row">{{this.seller_id}}</th>
      <td>{{this.seller_name}}</td>
      <td>{{this.seller_location}}</td>
      <td>{{this.seller_year}}</td>
      <td>{{this.seller_details}}</td>
      <!--
      <td>
        <a type="button" href="/inactive/{{this.id}}">Inactive</a>

        </select></td>

        -->
      <td class="text-end">

          <a href="#" type="button" class="btn btn-light btn-small btn-edit">Edit</a>
          <a href="seller/{{this.seller_id}}" type="button" class="btn btn-light btn-small btn-delete">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>